# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
terraform.tfvars

# Environment Variables
.env
.env.*

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Kubernetes
kubeconfig
